<header>
  <img src="/image/logo.png" />
  <h1>POKEDÉX</h1>

  <nav>
    <ol type="poke">
      <a href="/"> <li>Home</li></a>
      <a href="/cadastro"> <li>Cadastro</li></a>
    </ol>
  </nav>
</header>
