<header>
  
  
    
   
      <img id="logo" src="/image/logo.png" />
      <div>
    <h1>POKEDÉX</h1>
    <nav>
      <ol>
        <a href="/"> <li>PokeHome</li></a>
        <a href="/cadastro"> <li>PokeCadastro</li></a>
      </ol>
    </nav>
  </div>
</header>
