@import url("https://fonts.googleapis.com/css2? family= Open+Sans & display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #3d68bb;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 10%;
  padding: 1.5rem;
  /* background-color: rgba(255, 0, 0, 0.784); */
  background: linear-gradient(to right, rgba(255, 0, 0, 0.784), black);
}
header div {
  height: 100%;
}
header div img {
  height: 100%;
}
header img#logo {
  height: 100%;
}

header h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

header ol {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
}
header a:hover {
  background-color: #fac705;
  color: black;
  transition: background 0.8s;
}

main {
  min-height: 80%;
  margin: 2rem;
}

footer {
  width: 100vw;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.693);
}

section#cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
}

section#cards article.card {
  background-color: #fac705;
  height: 300px;
  width: 200px;
  margin-top: 3rem;
  padding: 1rem;
  box-shadow: 10px 10px 40px -20px #010101;
  align-items: center;
  background-image: url(/image/card.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section#cards article.card img {
  height: 43%;
  margin-left: 2rem;
}

section#cards article.card p.id {
  margin: 0 0 0 35px;
  font-style: oblique;
  font-size: 18px;
}

section#cards article.card p.name {
  height: 7%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 1rem;
}
section#cards article.card p.desc {
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 540;
}
section#cards a {
  text-decoration: none;
  cursor: pointer;
}
section#cards a:hover {
  color: red;
  transition: 0.8s;
}

section#cadastro {
  display: flex;
  flex-direction: column;
}
div#detalhes {
  justify-items: center;
}

form legend {
  background-color: #000000;

  color: #fff;

  font-size: 25px;
  text-align: center;
  padding-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 5px;
  height: 100%;
  width: 60%;
}

form fieldset fieldset {
  display: flex;
  gap: 10px;
  justify-items: center;
}
fieldset.fildMain {
  border: none;
}

form input {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  outline: none;
  border-radius: 4px;
}

label {
  display: flex;
  padding: 0.6rem;
  width: 20%;
  margin: 0 auto;
  border: none;
  justify-items: center;
  text-align: center;
  font-size: 1rem;
  font-style: oblique;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.784), black);
}

form button {
  padding: 0.6rem;
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  font-style: oblique;
  font-weight: bold;
  background: linear-gradient(rgb(255, 0, 0), black, red);
  color: white;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
form button:hover {
  background-color: red;
  color: white;
}

form fieldset {
  display: flex;
  width: 100%;
  border: none;
  gap: 1px;
  justify-items: center;
}
fieldset.select {
  float: left;
  width: 25%;
  margin-top: 6px;
}

main.detalhes {
  display: flex;
  justify-content: center;
}
main.detalhes section.detalhes {
  display: flex;
  margin: 1rem;
  border: #000000 solid 1px;
  border-radius: 3%;
  width: 30rem;
  background: linear-gradient(#fac705, #fac905d1, #3d68bb);
  padding: 1rem;
  box-shadow: 20px 20px 50px -30px #fac705;
}

section.detalhes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 31px;
}
section.detalhes div#imagem {
  height: 420px;
  width: 400px;
  justify-content: center;
}
section.detalhes img {
  width: 90%;
}
section.detalhes .detalheDesc {
  margin-bottom: 0.2rem;
  font-size: 20px;
  font-weight: 540;
}
section.detalhes .detalheDesc.full {
  border: solid 2px black;
  width: 100%;
  background: linear-gradient(#3d68bb, #3d67bbb1, #3d68bb);
  text-align: center;
  text-transform: initial;
}
section.detalhes p.detalhesNome {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-style: oblique;
  font-weight: bold;
}
section.detalhes p.detalhesId {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-style: oblique;
  font-weight: bold;
}

@media screen and (max-width: 720px) {
  main.detalhes section.detalhes {
    width: 100%;
  }

  header {
    height: 20%;
    flex-direction: column;
  }
  header img#logo {
    height: 50%;
  }
  section.detalhes img {
    margin-left: 1rem;
  }
  form button {
    width: 100%;
  }
  form label {
    width: 70%;
  }
}
